/* font configurations */
@font-face {
    font-family: Roboto Condensed Light;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

body {
    font-family: 'Roboto Condensed Light';
    background: #f0f0f0;
}