.flex-container flex-item{
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
}
html {
    font-family: 'Poppins', sans-serif;
}

/* body */
.body {
    flex-direction: column;
}

/* header */
.body-header{
    flex-direction: column;
    background-color: #D2D4D9;
    padding: 2%;
}


/* header nav */
.header-div_nav {
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.header-div_nav-titel {
    justify-content: flex-start;
    font-size: 20px;
    width: 50%;
}
.header-div_nav-nav {
    justify-content: flex-end;
    font-size: 18px;
    width: 50%;
}
.header-div_nav-nav-div_ul{
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    width: 100%;
}
.header-div_nav-nav-div_ul-webside {
    list-style: none;
}
.header-div_nav-nav-div_ul-icons {
    list-style: none;
}
.header-div_nav-nav-div_ul a{
    display: block;
    text-decoration: none;
}



/* header main */
.header-main {
    flex-direction: row;
}
.header-main-img_pc {
    width: 50%;
    height: 100%;
}
.header-main-text {
    flex-direction: column;
    width: 50%;
    align-content: center;
    padding: 2% 2% 0 2%;
}
.header-main-text-titel {
    font-size: 37px;
}
.header-main-text-paragraph {
    font-size: 37px;
}



/* body main */
.body-main {
    flex-direction: column;
    justify-content: center;
}

/* liste 123 */


.main-ul {
    flex-direction: column;
     list-style-type: upper-roman;
     counter-reset: list-counter;
 }

.main-ul-point {
    margin: 1% 0 1% 20%;
    position: relative;
    counter-increment: list-counter;
}

.main-ul-point::before {
    content: counter(list-counter);
    position: absolute;
    left: -0.6em;
    top: -30px;
    font-size: 140px;
}


/* service */
.main-service {
    margin: 0 15% 0 15%;
    width: 70%;
    flex-direction: row;
}
.main-service-box {
    width: 33%;
    margin: 0 1% 0 1%;
    background-color: #D2D4D9;
}
.main-service-box-icon {
    justify-content: center;
    margin: 0;
}

/* footer */
.body-footer {
    flex-direction: column;
    padding: 2%;
}
.footer-ul-webpage {
    list-style: none;
    margin-bottom: 2px;
    justify-content: center;
}
.footer-text {
    text-align: center;
    font-size: 15px;
    margin-top: 2px;

    position: relative;
    left: 20px;
}
.footer-ul-icone {
    margin: 0 15px 0 15px;
}


/* links a */
a {
    padding: 10px;
    color: black;
}
a:hover {
    color: #5983A9;
    text-decoration: underline;
}



/* borders for better working delet after work */
.flex-container {
    border: dashed red 1px;
}
.flex-item {
    border: dashed blue 1px
}

