body {
    color:darkblue;
    display: block;
}
.menu {
    border: 1px darkblue dashed;
}
.menucontainer {
    border: 1px black dashed;
    align-content: flex-end;
}
.container{
    border: 1px red dashed;
}