/* font configurations */
@font-face {
    font-family: "Roboto Condensed Light";
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

h1 {
    font-family: Roboto Condensed Light;
}

/* table formatting */
table {
    font-family: sans-serif;
}

th {
    background-color: black;
    color: white;
}

.odd-table-row {
    background-color: #EEE;
}

/* footer */
p {
    font-family: Roboto Condensed Light;
    font-style: italic;
}

