/* font configurations */
@font-face {
    font-family: Roboto Condensed Light;
    src: url("../fonts/RobotoCondensed-Light.ttf"); 
}

/* Basic Styles */
body {
    font-family: 'Roboto Condensed Light';
    background: #f0f0f0;
}

h1 {
    background-color: #c2185b;
    height: 80px;
    color: white;
    padding: 20px;
}

a:hover {
	font-weight: bold;
}

span {
	color: #F24747;
}

#footer {
    color: white;
    background-color: #c2185b;
}

