.flex-container flex-item{
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
}


/* body */
.body {
    flex-direction: column;
}
/* header */
.body-header{
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 2%;
}
/* header nav */
.header-div_nav {
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.header-div_nav-titel {
    justify-content: flex-start;
    font-size: 20px;
    width: 50%;
}
.header-div_nav-nav {
    justify-content: flex-end;
    font-size: 18px;
    width: 50%;
}
.header-div_nav-nav-ul{
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    width: 100%;
}
.header-div_nav-nav-ul a{
    display: block;
    text-decoration: none;
}
a {
    padding: 10px;
    color: black;
}
a:hover {
    color: #5983A9;
    text-decoration: underline;
}
.header-div_nav-nav-ul-twitch {
    margin-left: 10px;
}






/* main */
main {
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.person {
    height: 198px;
    width: 352px;
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 3%;
    background-color: #4B5664;
}
.person-img {
    width: 56.25%;
}
.person-text {
    margin: 0;
    padding: 0;
    width: 60%;
    flex-direction: column;
    overflow-y: scroll;
    word-wrap: break-word;
}
.person-text-h1 {
    margin: 0;
}
.person-text-p {
    margin: 0;
    height: 60%;
}
.person-text-a {
    margin: 0;
    height: 40%;
}




/* footer */
.body-footer {
    flex-direction: column;
    padding: 2%;
}
.footer-ul-webpage {
    list-style: none;
    margin-bottom: 2px;
    justify-content: center;
}
.footer-text {
    text-align: center;
    font-size: 15px;
    margin-top: 2px;

    position: relative;
    left: 20px;
}
.footer-ul-icone {
    margin: 0 15px 0 15px;
}


/* links a */
a{
    margin: 0;
    display: block;
    text-decoration: none;
    color: black;
}
a:hover {
    color: #5983A9;
}

/* borders for better working delet after work */
.flex-container {
    border: dashed red 1px;
}
.flex-item {
    border: dashed blue 1px
}