.flex-container flex-item{
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
}
html {
    font-family: 'Poppins', sans-serif;
}


/* body */
.body {
    flex-direction: column;
}
/* header */
.body-header{
    flex-direction: column;
    background-color: #D2D4D9;
    padding: 2%;
}

/* header nav */
.header-div_nav {
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.header-div_nav-titel {
    justify-content: flex-start;
    font-weight: 900;
    font-size: 20px;
    width: 50%;
}
.header-div_nav-nav {
    justify-content: flex-end;
    font-size: 18px;
    width: 50%;
}
.header-div_nav-nav-div_ul{
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    width: 100%;
}
.header-div_nav-nav-div_ul-webside {
    list-style: none;
}
.header-div_nav-nav-div_ul-icons {
    list-style: none;
}
.header-div_nav-nav-div_ul a{
    display: block;
    text-decoration: none;
}


/* main body */

.main-div_main {
    justify-content: center;
    flex-flow: row wrap;
}
.main-div_main-div_colum {
    flex-direction: column;
    width: 300px;
    margin: 0 10px;
}
.main-div_main-div_colum-subject-img {
    width: 100%;
}







/* footer */
.body-footer {
    flex-direction: column;
    padding: 2%;
}
.footer-ul-webpage {
    list-style: none;
    margin-bottom: 2px;
    justify-content: center;
}
.footer-text {
    text-align: center;
    font-size: 15px;
    margin-top: 2px;

    position: relative;
    left: 20px;
}
.footer-ul-icone {
    margin: 0 15px 0 15px;
}


/* links a */
a {
    padding: 10px;
    color: black;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}




/* borders for better working delet after work */
.flex-container {
    border: dashed red 1px;
}
.flex-item {
    border: dashed blue 1px
}